.icon {
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  &.-size-24 {
    width: 24px;
    height: 24px;
  }
  &.-size-18 {
    width: 18px;
    height: 18px;
  }
}
