$device-x-large: "only screen and (min-width: 1200px)" !default;
$device-large:   "only screen and (min-width: 992px)" !default;
$device-medium:  "only screen and (min-width: 768px)" !default;
$device-small:   "only screen and (min-width: 375px)" !default;