$icon-size                         : 24px !default;
$desktop-gutter                    : 24px !default;
$desktop-gutter-more               : 32px !default;
$desktop-gutter-less               : 16px !default;
$desktop-gutter-mini               : 8px !default;
$desktop-keyline-increment         : 64px !default;
$desktop-drop-down-menu-item-height: 32px !default;
$desktop-drop-down-menu-font-size  : 15px !default;
$desktop-left-nav-menu-item-height : 48px !default;
$desktop-subheader-height          : 48px !default;
$desktop-toolbar-height            : 56px !default;
