@import "toolkit";

.app {
  font-size: inherit;

  .body {
    padding: 64px 0 0 0;
  }
}

.app__title {
  font-size: 18px;
  margin-bottom: 0;
}

.app-bar__refresh {
  float: right;
  margin-right: -12px;
  .icon {
    margin: 0;
  }
}
